/* Scrollbar for all scrollable elements */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}

.elevation:focus-within {
  /* box-shadow: 4px 4px 20px rgba(245, 245, 245, 0.2); */
  box-shadow: rgba(69, 71, 75, 0.5) 0px 7px 29px 0px;

}
